body{
  font:15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;

}

@font-face {
    font-family: 'pacifico';
    src: url('../font/pacifico.ttf');
}

@font-face {
    font-family: 'montserrat';
    src: url('../font/montserrat.ttf');
}


/*Global */
.container{
  width:80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

.button_1{
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  background: #4CAF50;
  height: 38px;
  border: 0;
}


/*Header */

header{
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #4CAF50 3px solid;

}

header h1{
  font-family: 'pacifico';
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  padding: 0 20px 0 20px;
  display: inline;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float:right;
  margin-top: 10px;
  font-family: 'montserrat';
}

header .highlight, header .current a{
  color: #4CAF50;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

header button{
    background-color: #35424a;
    color: white;
    font-family: 'montserrat';
    padding: 5px 8px 5px 8px;
    margin-bottom: 14px;
    border: 1px solid white;
}

header button:hover{
  background-color: #4CAF50;
  color: white;
  border:none;
}



/* ShowCase */

#showcase{
  min-height: 600px;
  background: linear-gradient(
      rgba(53, 66, 74, 0.45),
      rgba(53, 66, 74, 0.45)
    ),  url('../img/bg.jpeg') no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

#showcase h1{
  margin-top: 150px;
  font-size: 55px;
  padding: 0 100px 0 100px;
  justify-content: center;
  margin-bottom: 5px;
  font-family: 'montserrat';
}

#showcase p{
  font-size: 30px;
  padding: 0 100px 0 100px;
  justify-content: center;
  font-family: 'montserrat';
}

.showcase-container{
  width:80%;
  margin: auto;
  text-align: center;
  overflow: hidden;
  justify-content: center;
}

footer{
  padding: 20px;
  margin-top: 0;
  color: #ffffff;
  background-color: #4CAF50;
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*Reminder*/

 .reminder-container{
  padding-top: 50px;
  width:70%;
  margin: auto;
  overflow: hidden;
  align-content: center;
}

#reminder .reminder-box{
  padding-top: 40px;
  padding-right: 10%;
  padding-left:5%;
  float: left;
  width: 30%;
  text-align: center;
  align-content: center;
  overflow: auto;
  }

  #reminder img{
    padding-right: 5%;
    width: 50%;
    text-align: center;
    align-content: center;
    overflow: auto;
    }

#reminder h1{
  color: #35424a;
  font-family: 'montserrat';
  font-weight: 500px;
}

#reminder p{
  color: #35424a;
  font-family: 'montserrat';
  font-weight: 300px;
  font-size: 20px;
}

/*Anywhere*/
#anywhere{
  min-height: 600px;
  background: linear-gradient(
      rgba(53, 66, 74, 0.45),
      rgba(53, 66, 74, 0.45)
    ),  url('../img/walk.jpeg') no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

#anywhere h1{
  margin-top: 150px;
  font-size: 30px;
  padding: 0 50px 0 0;
  justify-content: center;
  margin-bottom: 5px;
  font-family: 'montserrat';
}

#anywhere p{
  font-size: 20px;
  padding: 0 50px 0 0;
  justify-content: center;
  font-family: 'montserrat';
}

.anywhere-container{
  float: right;
  width:50%;
  margin: auto;
  text-align: center;
  overflow: hidden;
  justify-content: center;
}











/*Login Page*/
.login-body{
  background: linear-gradient(
      rgba(53, 66, 74, 0.45),
      rgba(53, 66, 74, 0.45)
    ),  url('../img/bg.jpeg') no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.loginbox{
  width: 320px;
  background: linear-gradient(
      rgba(53, 66, 74, 0.6),
      rgba(53, 66, 74, 0.6)
    ),no-repeat;
  color:#ffffff;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 40px 30px;
}
.login{
  height: 450px;
}
.signup{
  height: 490px;
}

.current-page{
  background-color: #4CAF50;
  color: white;
  border:none;
}

.home{
  color: #fff;
}

 .loginbox h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

 .loginbox p{
   margin: 0;
   padding: 0;
   font-weight: bold;
 }
.loginbox input{
  width:100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="submit"]{
  border: 1px solid #fff;
  outline: none;
  height: 40px;
  background: linear-gradient(
      rgba(53, 66, 74, 0.2),
      rgba(53, 66, 74, 0.2)
    ),no-repeat;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="submit"]:hover{
  background: #4CAF50;
  cursor: pointer;
  border: none;
}

.loginbox a{
  text-decoration: none;
  color: #4CAF50;
}




/*All Entries Page*/
.wrapper{
  display:grid;
  /* grid-template-columns:1fr 1fr 1fr;*/
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows: 3;
  grid-gap:1em;
  /* grid-auto-rows:100px; */
  grid-auto-rows: minmax(100px, auto);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px
}

.wrapper > div{
  background: linear-gradient(
      rgba(53, 66, 74, 0.6),
      rgba(53, 66, 74, 0.6)
    ),no-repeat;
    color: white;
    padding: 1em;
    cursor: pointer;
}

.wrapper h1{
  color: #35424a;
  font-family: 'montserrat';
  font-weight: 500px;
  font-size: 22px;
  text-align: center;
}

.wrapper p{
  line-height: 2.5ex;
  height: 12.5ex; /* 2.5ex for each visible line */
  overflow: hidden;
  font-size: 18px;
  padding: 0 0 0 0;
  justify-content: center;
  text-align: center;
  font-family: 'montserrat';
}





/*Profile Page*/


/* Dropdown Button */
.dropbtn {
  outline: none;
  height: 40px;
  border: 1px solid #fff;
  background: linear-gradient(
      rgba(53, 66, 74, 0.2),
      rgba(53, 66, 74, 0.2)
    ),no-repeat;
  color: #fff;
  font-size: 16px;
  width: 100%;

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    outline: none;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 80%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  border: none;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



  .fab {
    position: fixed;
    width: 56px;
    left: 95%;
    bottom: 15px;
    margin-left: -28px;
  }

  .fab-action-button {
    position: absolute;
    bottom: 0;
    display: block;
    width: 56px;
    height: 56px;
    background-color: #4CAF50;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }



  .fab-action-button__icon {
    display: inline-block;
    width: 56px;
    height: 56px;
    background: url('../img/plus.png') center no-repeat;
  }


/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 13%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-50%; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-50%; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: #fefefe;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #fefefe;
}

.modal-body {padding: 2px 16px;}

.modal-body .title{
  font-size: 18px;
  font-weight:bold;
  margin: 0;
  margin-top: 10px;
  color: #35424a;
  padding: 0;
  font-family: 'montserrat';
}

.modal-body .text{
  font-size: 16px;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 5px;
  font-weight:normal;
  font-family: 'montserrat';
  color: #35424a;
}

.modal-body hr{
  margin-top: 1px;
  margin-bottom: 10px;
  padding-top: 0;
}


.modal-footer {
    background-color: #fefefe;
    color: white;

}

.edit{
  width: 50%;
  background-color: #4CAF50;
  float: left;
  color: white;
  font-size: 20px;
  border: none;
  padding: 7px 16px;
  font-family: 'montserrat';
}
.save{
  width: 50%;
  background-color: #e2e2e1;
  float: right;
  color: #000;
  font-size: 20px;
  border: none;
  padding: 7px 16px;
  font-family: 'montserrat';
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 80%;
    grid-template-columns:repeat(1, 1fr);
    grid-template-rows: 3;
    grid-gap:1em;
  }

  header #branding,
  header nav,
  header nav li{
    width:100%;
    float:none;
    text-align:center;
  }

  .fab{
    left:90%;
  }
  .modal-content{
    width: 80%;
  }

  .modal{
    padding-top: 20%;
  }

  .login-body{
    background: linear-gradient(
        rgba(53, 66, 74, 0.45),
        rgba(53, 66, 74, 0.45)
      ),  url('../img/bg.jpeg') no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }

  #showcase h1{
    margin-top: 100px;
    font-size: 40px;
    padding: 0 30px 0 30px;
    justify-content: center;
    margin-bottom: 5px;
    font-family: 'montserrat';
  }
  .showcase-container{
    width: 90%;
  }

  #showcase p{
    font-size: 25px;
    padding: 0 30px 0 30px;
  }

  #reminder img{
    display: none;
    padding: 0;
    width: 0;
  }
  #reminder .reminder-box{
    padding-top: 40px;
    width: 80%;
    text-align: center;
    align-content: center;
    overflow: auto;
    }

    .reminder-container{
      width: 80%;
    }

    .anywhere-container{
      float: none;
      width:70%;
      margin: auto;
      text-align: center;
      overflow: hidden;
      justify-content: center;
    }

    #anywhere p{
      padding: 0 0 0 0;
    }

    #anywhere h1{
      padding-right: 0;
    }

 }
}
